body {
background-color: #E0C097;
}

a {
color: #2D2424;
}

a:hover {
font-weight: bold;
color: #2D2424;
}

img {
height: 200px;
width: 300px;
}

.home-img {
background-image: linear-gradient(rgba(0,0,0,0.5),
rgba(0,0,0,0.5)), url('/static/coffee-home.jpg');
height: 70vh;
background-size: cover;
background-repeat: no-repeat;
}

@media (max-width: 1000px) {
.home-img {
height: 40vh;
margin-bottom: 10%;
}
}

.list-title {
padding-left: 30px;
}

.title {
color: antiquewhite;
font-size: 80px;
text-align: center;
position: relative;
margin: 10%;
}


.bg-image {
box-shadow: 0 0 8px 8px
}

.link-btn {
margin: 20px;
}

.add-container {
background-color: #E0C097;
padding: 5% 10%;
margin-bottom: 5%;
}

.form-title {
margin-bottom: 8%;
}

#submit {
margin: 20px 0;
}

.btn-primary {
background-color: #2D2424;
border-color: #2D2424
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
background-color: #B85C38;
border-color: #B85C38;
}

.btn-secondary {
background-color: #E0C097;
border-color: #E0C097;
}

.footer {
background-color: #2D2424;
color: #E0C097;
text-align: center;
}

.title-row {
font-size: 18px;
}

#home-button {
background-color: white;
width: 100px;
margin: 20px;
}

#home-button:hover {
background-color: #B85C38;
color: white;
}

.card {
margin: 5% 8%;
box-shadow: 0 0 4px 4px;
text-align: center;
background-color: antiquewhite;
}

.card-text {
margin: 0;
}

.delete-link {
margin-top: 10px;
}

.page-title {
font-size: 3.5rem;
margin: 5% 0;
text-align: center;
}

.cafe-img {
background-image: linear-gradient(rgba(0,0,0,0.5),
rgba(0,0,0,0.5)), url("https://images.unsplash.com/photo-1481833761820-0509d3217039?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80");
background-size: cover;
background-repeat: no-repeat;
margin-bottom: 8%;
}

.footer {
padding: 3% 0 1%;
}